.wp-list-table.fixed .column-sf_replies {
	text-align: left;
	width:      4em;
}

.wp-list-table.fixed .column-updated,
.wp-list-table.fixed .column-created {
	width: 10%;
}

.subsubsub li.trash a {
	color: #BC0B0B;
}

#poststuff {
	padding-top: 0;
}

#side-sortables {
	margin-top: 34px;
}

#supportflow-subject.postbox,
#supportflow-respondents.postbox {
	border:     none;
	background: none;
}

#supportflow-subject.postbox .inside,
#supportflow-respondents.postbox .inside {
	padding: 0;
}

#supportflow-details .handlediv,
#supportflow-details h3.hndle,
#supportflow-subject .handlediv,
#supportflow-subject h3.hndle,
#supportflow-respondents .handlediv,
#supportflow-respondents h3.hndle,
#supportflow-replies .handlediv,
#supportflow-replies h3.hndle {
	display: none;
}

#supportflow-details .handlediv,
#supportflow-details h3.hndle {
	display: block;
}

#supportflow-details #misc-publishing-actions label {
	width:   50px;
	display: inline-block;
}

#supportflow-details #misc-publishing-actions select#post_status {
	width: 100px;
}

#supportflow-details #misc-publishing-actions span.the-date {
	font-weight: bold;
}

#supportflow-details #misc-publishing-actions div.last-activity {
	font-size: 11px;
}

#supportflow-subject h4,
#supportflow-respondents h4,
#supportflow-replies h4 {
	font-family:   Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size:     13px;
	font-weight:   normal;
	margin-left:   0;
	margin-right:  0;
	margin-top:    10px;
	margin-bottom: 6px;
}

#supportflow-subject.postbox input {
	width:          100%;
	font-size:      1.7em;
	padding-left:   8px;
	padding-right:  8px;
	padding-top:    12px;
	padding-bottom: 10px;
}

#supportflow-respondents.postbox input {
	width:     100%;
	padding:   8px;
	font-size: 1.2em;
}

#supportflow-replies.postbox #thread-reply-box {
	width: 100%;
}

#supportflow-replies.postbox textarea {
	width:     100%;
	padding:   8px;
	font-size: 1.1em;
	font-size: 1.2em;
}

#supportflow-replies.postbox .inside #message-tools #submit-action {
	padding:    0;
	margin-top: 5px;
	float:      right;
}

#supportflow-replies.postbox .inside #message-tools #replies-attachments-wrap {
	float: left;
}

#supportflow-replies #upload-messages,
#supportflow-replies #replies-attachments-list {
	margin-top:  9px;
	margin-left: 2px;
	color:       #666666;
}

#supportflow-replies.postbox .inside #message-tools #submit-action input[type="checkbox"] {
	margin-top: -1px;
}

#supportflow-replies.postbox .inside #message-tools #submit-action label {
	padding-top:   2px;
	padding-left:  5px;
	padding-right: 25px;
}

#supportflow-replies.postbox ul.private-replies {
	background-color: #FFFFE0;
	border:           1px solid #E6DB55;
	padding:          5px 10px;
}

#supportflow-replies.postbox ul.private-replies li {
	border-top: 1px solid #DFDFDF;
	margin-top: 10px;
}

#supportflow-replies.postbox ul.private-replies li:first-child {
	border-top: none;
	margin-top: 0;
}

#supportflow-replies.postbox ul.private-replies li .thread-meta {
	color:      #BBB;
	font-size:  0.9em;
	text-align: right;
}

#supportflow-replies.postbox ul.thread-replies li {
	clear:         left;
	margin-top:    20px;
	margin-bottom: 20px;
}

#supportflow-replies.postbox ul.thread-replies li .thread-reply-attachments li,
#supportflow-replies.postbox ul.private-replies li .thread-reply-attachments li {
	margin-top:    3px;
	margin-bottom: 3px;
	font-size:     0.9em;
}

#supportflow-replies.postbox ul.thread-replies li .reply-avatar {
	float: left;
}

#supportflow-replies.postbox ul.thread-replies li .reply-author {
	margin:    0;
	font-size: 0.9em;
	color:     #666666;
}

#supportflow-replies.postbox ul.thread-replies li .thread-reply {
	background-color:      #FFFFFF;
	margin-left:           105px;
	min-height:            80px;
	padding:               10px;
	font-size:             1.1em;
	border:                1px solid #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}

#supportflow-replies.postbox ul.thread-replies li .thread-meta {
	margin-left: 105px;
	font-size:   0.9em;
	color:       #666666;
	margin-top:  5px;
}

.metabox-holder .postbox-container .empty-container {
	border: none;
}

input::-webkit-input-placeholder {
	color: #BBB;
}

input:-moz-placeholder {
	color: #BBB;
}

textarea::-webkit-input-placeholder {
	color: #BBB;
}

textarea:-moz-placeholder {
	color: #BBB;
}