#sf_my_tickets .toggle-content {
	display: none;
}

#sf_my_tickets .tablenav {
	height: 10px;
}

#sf_last_updated_tickets .tablenav {
	height: 0px;
}

#sf_last_updated_tickets .two_day_old {
	color: #DF1111;
}

#sf_last_updated_tickets .one_two_day_old {
	color: #BD8A2C;
}

#sf_last_updated_tickets .one_day_old {

}