body {
	margin: 10px;
	padding: 0;
	background-color: white;
}

.title,
#supportpress-newthread-box,
#supportpress-open-tickets .thread {
	border-bottom: 1px solid gray;
}

.title {
	background-color: gray;
}

#supportpress-newthread-box {
	padding: 25px 0;
}

#supportpress-open-tickets .thread .time {
	color: gray;
}

#supportpress-open-tickets .nothreads {
	font-weight: bold;
}

#supportpress-newthread-form {
	display: none;
}

#supportpress-newthread-form input[type="text"],
#supportpress-newthread-form textarea {
	width: 100%;
}

button#supportpress-help {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 10000;
	padding: 10px;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #989898;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	color: #fff;
	font-weight: bold;
}