body {
	margin: 10px;
	padding: 0;
	background-color: #f9f9f9;
}
#widget-title {
	border-bottom: 1px solid #ececec;
	font: 23px/29px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0 15px 4px 9px;
}
#supportpress-newthread-box {
	padding: 10px 0;
}
#supportpress-newthread,
#new-thread-submit {
	background-color: #fff;
	border: 1px solid #bbb;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	padding: 5px 10px;
	white-space: nowrap;
	-webkit-border-radius: 15px;
}
#new-thread-submit {
	margin-top: 10px;
}

#supportpress-existing-thread-form input[type='text'] {
	width: 100%;
}

#supportpress-newthread-form textarea,
#supportpress-existing-thread-form textarea {
	width: 100%;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight:200;
	border: 1px solid #BBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	padding: 3px 8px;
}

#supportpress-newthread-form input[type='submit'],
#supportpress-existing-thread-form input[type='submit'] {
	width: 100%;
	font-size: 16px;
	padding-top: 5px;
	border: none;
	color: #222;
	font-weight: 200;
	font-family: "Helvetica Neue", sans-serif;
	background-color: #EEE;
	padding-bottom: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #BBB;
}

#supportpress-newthread-form input[type='submit']:hover,
#supportpress-existing-thread-form input[type='submit']:hover {
	cursor:pointer;
	border-color: #888;
	color: #111;
}

#supportpress-newthread:hover,
#supportpress-newthread:active,
#new-thread-submit:hover,
#new-thread-submit:active {
	border-color: #666;
}
#supportpress-all-threads .thread .time {
	color: gray;
}
#supportpress-all-threads .nothreads {
	border-bottom: 1px solid #989898;
	border-top: 1px solid #989898;
	color: #333;
	font: 16px/21px Georgia, Times, serif;
	padding: 20px 0;
	text-align: center;
}
#supportpress-newthread-form {
	display: none;
	margin: 0;
}
#supportpress-newthread-form input[name="subject"] {
	margin-bottom: 6px;
}
#supportpress-newthread-form input[type="text"] {
	font-size: 14px;
	line-height: 150%;
}
#supportpress-newthread-form input[type="text"] {
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	padding: 3px 8px;
	width: 100%;
}
#supportpress-help:hover,
#supportpress-help:active {
	background-color: #13455b;
}

#supportpress-single-thread {
	display:none;
}